<head>

</head>
<body>
<h1> ABOUT </h1>

<p>The primary purpose of this application is to provide users with an interactive means to search for, find, and keep track of places of interest when they are visiting a new city.  In order to maintain simplicity and reduce the initial burden of content generation, the application currently only features attractions from one city: Providence, RI.</p>

<p>The current feature set is as follows:</p>

<ol>
<li>Attractions are listed in the index page and are viewable by all visitors to the site. </li>
<li>Visitors can search by title of attraction and tags (i.e. "coffee" or "Thai", etc.)</li>
<li>When an attraction is clicked on from the index page, the user is directed to the show page, which, in addition to other information (address, price, etc.) displays a map with a marker denoting the location of the attraction.</li>  
<li>If the "Add to Trip" link on the index page (or on the show page) is clicked, the visitor is prompted to sign in/sign up before continuing</li>
<li>After signing in, a new "My Trip to Providence" side bar appears and members can add attractions to their trip.</li>
<li>Attraction can be removed by clicking on "Remove from Trip" link that appears below each attraction in the sidebar</li>
<li>When the "My Trip to Providence" link is clicked, members are directed to a separate page that lists, by category, each of the attractions that they have added to their trip.</li>
</ol>

</body>