<head>

p {
	margin-left: 100px;
}

</head>
<body>
<h1> ABOUT </h1>

<p>The primary purpose of this application is to provide users with an interactive means to search for, find, and keep track of places of interest when they are visiting a new city.  In order to maintain simplicity and reduce the initial burden of content generation, the application currently only features attractions from one city: Providence, RI.</p>

<p>The current feature set is as follows:</p>

<ol>
<li>Attractions are</li>
<li>Visitors can search by title and tags (i.e. "coffee" or "Thai", etc.)</li>
<li>When an attraction is clicked on from the index page, the user is directed to the show page, which, in addition to other information (address, price, etc.) displays a map with a marker denoting the location of the attraction.</li>  
<li>If the plus sign on the index page (or the "Add to Your Trip" link on the show page) is clicked, the</li>
<li>Users can sign in</li>
</ol>

</body>