<div id="frontpage">
<div id="frontwrap">
<h1 id="front_title">WELCOME TO [UNTITLED]</h1>
<h4 id="front_tag"> your portal to the unexplored </h4>
</div>


<br/>
<h4 id="front_link"><%= link_to "EMBARK ON YOUR ADVENTURE >>", attractions_path %></h4>
</div>