#map { height: 400px; width: 600px; margin-top: 300px; margin-left: 100px; margin-bottom: 50px; position: absolute; }
#map_show { height: 400px; width: 600px; position: absolute; top: 56%; z-index: -1; border-left-style: solid;
	border-left-color: black;  }
.row {
	  position: relative;
	  margin-right: 100px;

 }

.thumb img {
	width: 250px;
	height: 150px;
}

.thumb {
}

.user_signed_in {
  text-align: right;
  padding: 5px;
  font-size: 80%;
}

#header {
	margin-top: 40px;
	margin-bottom: 20px;
	width: 600px;
	height: 170px;
	background: #44accf;
}

#title {
	position: absolute;
	margin-top: 30px;
	margin-left: 10px;
	padding: 5px;
}

#slogan {
	position: absolute;
	margin-top: 90px;
	padding: 5px;
	margin-left: 250px;
}

#searchbar {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

#searchbox {
	padding-top: 7px;
	position: relative;
	width: 974px;
	height: 50px;
	background: #B2D4D4;
}


#table {
	position: relative;

}

#thumbnails {
	position: relative;
	height: 300px;
	width: 225px;
}


.fi-plus {
	position: relative;
	margin-left: 170px;
	background: #B2D4D4
}

#my_trip {
	text-align: center;
	background-color: #B2D4D4;
	margin-top: 10px;
	margin-bottom: -1px;
}

#favebar img {
	position: relative;
	margin-top: -8px;
}

#fave {
	width: 160px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

#img_overlay_remove {
	margin-bottom: 20%;
}

#img_overlay_remove .removefave {
  display: none;
  position: absolute;
  background-color: #fff;
  padding-top: .5em;
  padding-bottom: .5em;
  width: 12em;
  height: 2em;
  font-size: 10pt; 
  text-align: center;
}

#img_overlay_add .addfave {
  display: none;
  position: absolute;
  bottom: 20%;
  left: 9%;
  margin-bottom: 40px;
  background-color: #fff;
  padding-top: .5em;
  padding-bottom: .5em;
  width: 14em;
  height: 2em;
  font-size: 10pt; 
  text-align: center;
}

#img_overlay_remove:hover .removefave {
	display: block;
}

#img_overlay_add:hover .addfave {
	display: block;
}

/*#thumb_title {
	text-align: center;
	position: relative;
}

#thumb_tag {
	padding: .2em;
	position: relative;
	background-color: #D6DFE2
;
	margin-bottom: -1%;

}*/

#show_title {
	text-align: center;
	background-color: #B2D4D4;
	width: 1200px;
	position: relative;
	margin-left: 100px;

}

#show_tagline {
	text-align: center;
	padding-top: 65px;
	background-color: AliceBlue;
	height: 220px;
	width: 600px;
	float:left;
	margin-top: 10px;
	margin-left: 100px;
	border-bottom-style: solid; 
	border-bottom-color: white;
	border-top-color: white;
	border-top-style: solid;
	border-left-style: solid;
	border-left-color: white;
}

#show_image {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	border-left-style: solid;
	border-left-color: white;
	border-right-style: solid;
	border-right-color: white;
	border-top-color: white;
	border-top-style: solid;
}

#show_image img {
	width: 340px;
	height: 215px;
}

.category_wrap {
	width: 70%;
	height: 15%;
	background-color: #D0ECF6;
	padding-top: 2.5%;
	padding-left: 2.5%;
	margin-left: 15%
}

.category_name {
	margin-left: 15%;
	margin-top: 3%;
	margin-bottom: 0%;
}

#favorites_head {
	text-align: center;
}

#info {
	position: absolute;
	top: 273%;
	right: 8%;
	background-color: AliceBlue;
	height: 400px;
	width: 600px;
	padding: 1%;
	border-top-color: white;
	border-top-style: solid;
	border-left-style: solid;
	border-left-color: white;
}

#add {
	background-color: AliceBlue;
	width: 255px;
	height: 217px;
	position: absolute;
	top: 154px;
	left: 1046px;
	border-top-color: white;
	border-top-style: solid;
	border-right-style: solid;
	border-right-color: white;
	padding-top: 100px;
	text-align: center;
}

#frontpage {
	background-image:url("https://s3.amazonaws.com/cityguide_app/waterfire.jpg");
	height: 800px;
	margin-top: -30px;
}

#front_title {
	position: absolute;
	color: white;
	margin-top: 5%;
	margin-left: 29%;
	font-family: avenir;
}

#front_tag {
	position: absolute;
	color: white;
	margin-top: 9%;
	margin-left: 51%;
	font-family: avenir;
}

#front_link {
	position: absolute;
	font-color: white;
	margin-top: 18%;
	margin-left: 34.5%;
	padding: 2%;
	background-color: Lavender;
	font-family: avenir;
}

