<h1>My Trip to Providence </h1>

<% if user_signed_in? %>
      <div class="large-2 columns">
        <div id="favebar">
      <h5 id = "my_trip">MY TRIP TO PROVIDENCE</h5>
        <div class="panel">
          <% current_user.attractions.each do |attraction| %>
            <h6 id='fave'><%= link_to attraction.title, attraction_path(attraction) %></h6>
            <%= link_to image_tag(attraction.avatar.url), attraction_path(attraction), :class => "img_overlay" %>
            <div class="wrap">
            <div class="removefave">
            <%= link_to favorite_attraction_path(attraction, type: "remove"), method: :put do%>
                remove from trip
            <% end %>
            </div>
          </div>
          <% end %>
         </div>
      </div>
      </div>
    <% end %>